@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap');
html,
/* main page */
body {
	background-color: black;
}
#owo {
	text-align: center;
	position: relative;
	top: 50%;
	color: #9ac791;	
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
}
#uwu {
	text-align: center;
	position: relative;
	top: 51%;
}
.cutie {
	text-decoration: none;
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
	color: blue;
	display: inline-block;
}
