@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap');
html,
body {
	background-color: black;
}
#header {
	color: green;
	font-family: 'Source Code Pro', monospace;
}
