@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap');
html,
/* main page */
body {
	background-color: black;
}
#owo {
	text-align: center;
	position: relative;
	top: 50%;
	color: rgb(154, 199, 145);	
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
}
#uwu {
	text-align: center;
	position: relative;
	top: 51%;
}
.cutie {
	text-decoration: none;
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
	color: blue;
	display: inline-block;
}
#normal {
	text-align: center;
	color: white;
	font-family: 'Source Code Pro', monospace;
	font-size: 15px;
}
#header {
	text-align: center;
	color: rgb(154, 199, 145);
	font-family: 'Source Code Pro', monospace;
	font-size: 18px;
}

/* links */
a:link {color: white;text-decoration: none;}
a:visited {color: white;text-decoration: none;}
a:hover {color: rgb(154, 199, 145);text-decoration: none;}
a:active {color: rgb(154, 199, 145); text-decoration: none;}

/* dropdown */
.dropbtn {
	font-family: 'Source Code Pro', monospace;
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.dropdown {
	text-align: center;
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	font-family: 'Source Code Pro', monospace;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: rgb(154, 199, 145);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: black;}
